html {
    background-color: #E0EBE8;
   
  }

  .container {
    margin: 0px auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

  a.header-title {
    color: black;
    text-decoration: none;
    font-family: 'Sacramento', cursive;
}

h1.hellomsg, p.hellomsg{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    line-height: 65px;
}

a.hellomsg{
    color: #22a889;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    line-height: 45px;
    text-decoration: none;
}

.desfont {
    font-family: 'Special Elite', cursive;
}

.blogs {
    margin-top: 80px;
}

li.post {
    padding-bottom: 45px;
}

a.post {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}


.parallax{
    
    background-image: url("https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-second{
    background-image: url("https://cdn.pixabay.com/photo/2017/09/05/10/20/business-2717066_960_720.jpg");

    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}